body{

margin:0;
font-family:'Poppins', sans-serif;
background-color:#121212;
color:white;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background-color:black;

}

nav h2{

color:#d61f1f;

}

.menu a{

text-decoration:none;
color:white;
margin-left:25px;

}

.menu a:hover{

color:#d61f1f;

}

.principal{

display:flex;
justify-content:space-around;
align-items:center;
padding:80px;

}

.texto{

width:40%;

}

h1{

font-size:60px;
margin-bottom:10px;
color:#d61f1f;

}

.texto p{

font-size:18px;
margin-bottom:30px;

}

.boton{

background-color:#d61f1f;
padding:15px 25px;
border-radius:30px;
text-decoration:none;
color:white;
display:inline-block;

}

.boton:hover{

background-color:#ff3a3a;

}

.imagen img{

width:350px;
border-radius:20px;
box-shadow:0px 0px 25px gray;
width: 80px;;

}
.categorias{

margin-top:50px;
padding:50px;
text-align:center;

}

.contenedor{

display:flex;
justify-content:center;
gap:30px;

}

.tarjeta{

background:#1e1e1e;
padding:25px;
width:250px;
border-radius:20px;

}

.tarjeta:hover{

transform:scale(1.05);
transition:0.5s;

}

footer{

text-align:center;
padding:20px;
background:black;

}
.playlist{

padding:60px;
text-align:center;

}

.playlist h1{

color:#d61f1f;

}

.playlist p{

margin-bottom:40px;

}